*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

font-family:Plus Jakarta Sans,sans-serif;

background:#F8FAFC;

color:#334155;

line-height:1.7;

}

.container{

width:90%;

max-width:1200px;

margin:auto;

}

.navbar{

background:white;

position:sticky;

top:0;

padding:18px 0;

box-shadow:0 5px 20px rgba(0,0,0,.05);

z-index:999;

}

.navbar .container{

display:flex;

justify-content:space-between;

align-items:center;

}

nav{

display:flex;

gap:30px;

}

nav a{

text-decoration:none;

color:#334155;

font-weight:600;

}

.logo{

font-size:22px;

font-weight:bold;

color:#059669;

text-decoration:none;

}

.btn-primary{

background:#059669;

color:white;

padding:14px 30px;

border-radius:10px;

text-decoration:none;

font-weight:bold;

display:inline-block;

}

.btn-outline{

border:2px solid #059669;

padding:14px 30px;

border-radius:10px;

text-decoration:none;

color:#059669;

margin-left:15px;

}

.hero{

padding:100px 0;

}

.hero-grid{

display:grid;

grid-template-columns:1fr 1fr;

gap:60px;

align-items:center;

}

.hero h1{

font-size:52px;

margin:20px 0;

}

.hero p{

font-size:18px;

margin-bottom:30px;

}

.badge{

background:#D1FAE5;

color:#065F46;

padding:8px 20px;

border-radius:30px;

display:inline-block;

font-weight:700;

}

.feature{

padding:80px 0;

}

.card-grid{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:30px;

margin-top:40px;

}

.card{

background:white;

padding:40px;

border-radius:20px;

text-decoration:none;

color:#334155;

box-shadow:0 20px 40px rgba(0,0,0,.05);

transition:.3s;

}

.card:hover{

transform:translateY(-10px);

}

footer{

padding:50px;

text-align:center;

background:white;

margin-top:80px;

}